{% extends "base.html" %}
{% load thumbnail typogrify_tags %}


{% block all_content %}
    <div id="child-content">
        <div class="grid-container">
            <div class="grid-80 prefix-10 suffix-10">
                <h1 class="clear-top">{{ object.title }}</h1>
                {{ object.short_description|typogrify }}
            </div>

            <div class="clear"></div>

            <div class="images hide-on-mobile">
                <div class="grid-50">
                    {% if object.image_1 %}
                        {% thumbnail object.image_1 "600" as im %}
                            <img src="{{ im.url }}" srcset="{{ im.url|resolution:"1.5x" }} 1.5x, {{ im.url|resolution:"2x" }} 2x" alt="{{ object.meta_title }}" class="img-responsive big-shadow image-1">
                        {% endthumbnail %}
                    {% else %}
                        <span>&nbsp;</span>
                    {% endif %}
                </div>
                <div class="grid-50">
                    {% if object.image_2 %}
                        {% thumbnail object.image_2 "600" as im %}
                            <img src="{{ im.url }}" srcset="{{ im.url|resolution:"1.5x" }} 1.5x, {{ im.url|resolution:"2x" }} 2x" alt="{{ object.meta_title }}" class="img-responsive big-shadow image-2">
                        {% endthumbnail %}
                    {% else %}
                        <span>&nbsp;</span>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="text">
            <div class="grid-container">
                <div class="grid-80 prefix-10 suffix-10">
                    {{ object.text|typogrify }}
                </div>
                <div class="clear"></div>
                <div class="grid-80 prefix-10 suffix-10">
                    <div class="next-page">
                        <a href="{{ object.next_by_order.get_absolute_url }}" title="{{ object.next_by_order.title }}" class="buttons white">{{ object.next_by_order.title }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-ripple-3">
        <div class="ripple">
        </div>
        <div class="content">
            <div class="grid-container">

            </div>
        </div>
    </div>
{% endblock %}