{% load i18n compress static %}{% spaceless %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" itemscope itemtype="http://schema.org/WebPage">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>Tyrecycle</title>

        {% include "meta.html" %}

        {% compress css %}
            {% block compressed_css %}
                <link rel="stylesheet" media="all" type="text/css" href="{% static "css/normalize.css" %}">
                <link rel="stylesheet" media="all" type="text/css" href="{% static "css/unsemantic-grid-responsive.css" %}">
                <link rel="stylesheet" media="all" type="text/css" href="{% static "fonts/din/style.css" %}">
                <link rel="stylesheet" media="all" type="text/x-scss" href="{% static "scss/app.scss" %}">
            {% endblock %}
        {% endcompress %}

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script type="text/javascript">window.jQuery || document.write('<script src="{% static "js/jquery.min.js" %}"><\/script>')</script>

        {% compress js %}
            {% block compressed_js %}
                <script type="text/javascript" src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>
                <script type="text/javascript" src="{% static "js/jquery.inview.min.js" %}"></script>
                <script type="text/javascript" src="{% static "js/app.js" %}"></script>
            {% endblock %}
        {% endcompress %}
    </head>
    <body class="{{ is_home|yesno:"home,internal" }}">
        <div id="top"{% if not is_home %} class="internal"{% endif %}>
            <div class="grid-container">
                <div class="grid-90 prefix-10">
                    <div class="menu">
                        <nav class="root-menu">
                            {% for page in PAGES_ROOT_MENU %}
                                {% with page.get_absolute_url as page_absolute_url %}
                                    {% if page_absolute_url == request.path %}
                                        <span id="for-sub-menu-{{ page.slug }}" class="in" title="{{ page.title }}">{{ page.title }}</span>
                                    {% else %}
                                        <a href="{{ page_absolute_url }}" id="for-sub-menu-{{ page.slug }}" title="{{ page.title }}">{% if page_absolute_url in request.path %}<b>{% endif %}{{ page.title }}{% if page_absolute_url in request.path %}</b>{% endif %}</a>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}

                            <a href="{% url "news_index" %}" id="for-sub-menu-news">News</a>
{#                            <span class="in">Contact us</span>#}
                        </nav>

                        <div class="sub-menus">
                            <div class="arrow"></div>

                            {% for page in PAGES_ROOT_MENU %}
                                {% if page.has_published_children %}
                                    <nav class="sub-menu" id="sub-menu-{{ page.slug }}">
                                        {% for child in page.get_published_children %}
                                            {% with child.get_absolute_url as child_absolute_url %}
                                                {% if child_absolute_url == request.path %}
                                                    <span class="in" title="{{ child.title }}">{{ child.title }}</span>
                                                {% else %}
                                                    <a href="{{ child.get_absolute_url }}" title="{{ child.title }}">{{ child.title }}</a>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </nav>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="grid-25 text-align-right">

                </div>
            </div>
        </div>

        <div id="logo" class="hide-on-mobile">
            <div class="grid-container">
                <div class="grid-20 prefix-10">
                    {% if is_home %}
                        <img src="{% static "img/tyrecycle-logo-with-white.svg" %}" alt="Tyrecycle.">
                    {% else %}
                        <a href="{% url "home" %}" title="Home.">
                            <img src="{% static "img/tyrecycle-logo-with-blue.svg" %}" alt="Tyrecycle.">
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% block all_content %}

        {% endblock %}

        <div id="footer">
            <div class="grid-container">
                <div class="grid-33">
                    <p class="feature">Our offices</p>
                    <p class="address">
                        <b>Head office</b><br>
                        <span>30&ndash;56 Encore Avenue, Somerton</span><br>
                        <span>Victoria, Australia 3062</span><br>
                        <span>P +61 03 8339 3501</span><br>
                        <span>F +61 03 9305 2545</span><br>
                        <a href="">sales@tyrecycle.com.au</a>
                    </p>
                    <p class="address">
                        <b>Adelaide</b><br>
                        <span>8 Meyer Road, Lonsdale<span><br>
                        <span>South Australia 5160</span><br>
                        <span>P +61 08 8326 8555</span>
                    </p>
                </div>
                <div class="grid-33">
                    <p class="address">
                        <b>Brisbane</b><br>
                        <span>Lot 1 Gypsum Drive, Redbank</span><br>
                        <span>Plains, Queensland 4301</span><br>
                        <span>P +61 07 3816 1885</span><br>
                    </p>
                    <p class="address">
                        <b>Sydney</b><br>
                        <span>81/85 Christie Street, St Marys<span><br>
                        <span>New South Wales 2760</span><br>
                        <span>P +61 02 9623 9880</span>
                    </p>
                    <p class="address">
                        <b>Perth</b><br>
                        <span>10 Keegan Street, O’Connor<span><br>
                        <span>Western Australia 6163</span><br>
                        <span>P +61 08 9331 8207</span>
                    </p>
                </div>
                <div class="grid-33 text-align-center">
                    <p class="feature">Contact us</p>
                    <a href="#" class="buttons blue-transparent">Leave us a message</a>
                    <br>
                    <br>
                    <a href="#" class="buttons blue-transparent">1300 4 Tyrecycle (1300 489 732)</a>
                    <br>
                    <br>
                    <br>
                    <br>
                    <p>
                        <a href="#">Privacy policy</a>
                        <br>
                        <span>&copy; Tyrecycle, {% now "Y" %}</span>
                    </p>
                </div>
            </div>
        </div>

        <div id="reveal">
            <div class="grid-container">
                <div class="grid-33">
                    <p class="feature">Where would you like to go?</p>
                </div>
                <div class="grid-33">
                    <a href="#" class="buttons yellow">I want to dispose of tyres</a>
                </div>
                <div class="grid-33">
                    <a href="#" class="buttons blue">Tyre derived products</a>
                </div>
            </div>
        </div>
    </body>
</html>
{% endspaceless %}