{% extends "base.html" %}
{% load static %}


{% block all_content%}
    <div id="home-top">
        <div class="grid-container">
            <div class="grid-50">
                <p class="feature">Tyrecycle started in 1992 as a division of a major tyre manufacturer. Due to an unmet demand, it quickly expanded into a national tyre recycler for all types of tyres.</p>
            </div>
            <div class="grid-50 text-align-center">
                <br>
                <br>
                <a href="#" class="buttons yellow">I want to dispose of tyres</a>
                <br>
                <br>
                <a href="#" class="buttons blue">View tyre derived products</a>
            </div>
        </div>
    </div>
    <div class="block-ripple-1">
        <div class="ripple">
        </div>
        <div class="content">
            <div class="grid-container">
                <div class="grid-50 text-align-center">
                    <img id="home-image-1" src="{% static "img/TEMP_1.png" %}" alt="">
                </div>
                <div class="grid-50">
                    <p class="feature">Through steady commitment to the social impact of issues surrounding tyre waste, we have become the benchmark for alternative tyre handling and disposal. Tyrecycle continues to challenge the profile of what a successful recycling program should be and seeks to set a gold standard for the industry.</p>
                </div>

                <div class="clear"></div>

                <div class="grid-50">
                    <h4>Why recycle</h4>
                    <p class="feature">Currently, thousands of tonnes of scrap tyres are illegally dumped every year and not only cost millions of dollars annually but also produce severe health hazards and environmental damage.</p>
                </div>
                <div class="grid-50 text-align-center">
                    <img id="home-image-2" src="{% static "img/TEMP_2.png" %}" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="block-ripple-2">
        <div class="ripple">
        </div>
        <div class="content">
            <div class="grid-container">
                <div class="grid-50">
                    <h4>Partner with us</h4>
                    <p class="feature">We’re continually discovering new applications for scrap tyres in our quest to decrease the number of tyres entering waste streams and landfill.</p>
                </div>
                <div class="grid-50">
                    <img id="home-image-3" src="{% static "img/TEMP_3.png" %}" alt="">
                </div>

                <div class="clear"></div>

                <div class="grid-66 prefix-33">
                    <h4>Certifications</h4>
                    <p>Tyrecycle is an OHS AS4801 certified organisation, focused on safe and sustainable operations at all our facilities across Australia. The strict OHS management system comprises of inspection and auditing, training and competencies, risk and hazard management and other legal requirements. Tyrecycle is committed to achieving national certification across the 14001 & 9001 systems to the standard through SAI Global.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="block-ripple-3">
        <div class="ripple">
        </div>
        <div class="content">
            <div class="grid-container">
                <div class="grid-40">
                    <br>
                    <br>
                    <h4>Our vision</h4>
                    <p class="feature">To be the market leader within the Australian Tyre Recycling Industry by providing superior service in an efficient, environmentally sound, safe and socially responsible manner.</p>
                </div>
                <div class="grid-60">
                    <figure>
                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/xOfgRUBg8FA" frameborder="0" allowfullscreen></iframe>
                    </figure>
                </div>

                <div class="clear"></div>

                <div class="grid-66">
                    <p>People</p>
                </div>
                <div class="grid-33">
                    <h4>Our people</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}