@import "bourbon/bourbon";

// Grid.
$GRID_MODULE: 20px;

// Fonts.
$FONT_DIN_LIGHT: 'DIN Light', $helvetica;
$FONT_DIN_MEDIUM: 'DIN Medium', $helvetica;
$FONT_DIN_REGULAR: 'DIN Regular', $helvetica;

// Colours.
$COLOUR_BLUE_1: #00acf1;
$COLOUR_BLUE_2: #0083e8;
$COLOUR_BLUE_3: #32325d;
$COLOUR_YELLOW: #f5b852;


// Responsive mixin.
@mixin query($class) {
    @if $class == mobile {
        @media (max-width: 767px) {
            @content;
        }
    } @else if $class == tablet {
        @media (max-width: 1024px) {
            @content;
        }
    }
}

* {
    box-sizing: border-box;
}

@import "styles";
@import "tyrecycle";
