@import "bourbon/bourbon";

// Reused.
.buttons {
    @include transition(all 0.2s);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    text-decoration: none;
    font: normal 2em $FONT_DIN_REGULAR;
    line-height: $GRID_MODULE*3;
    display: inline-block;
    padding: 0 $GRID_MODULE*2;
    white-space: nowrap;

    &.small {
        padding: 0 $GRID_MODULE;
    }

    &.yellow {
        background-color: $COLOUR_YELLOW;
        color: $COLOUR_BLUE_3;

        &:hover {
            color: #fff;
            background-color: $COLOUR_BLUE_3;
        }
    }
    &.blue {
        background-color: $COLOUR_BLUE_1;
        color: #fff;

        &:hover {
            color: #fff;
            background-color: $COLOUR_BLUE_3;
        }
    }
    &.white {
        @include transition(all 0.2s);
        background-color: #fff;
        color: $COLOUR_BLUE_1;

        &:hover {
            color: $COLOUR_BLUE_3;
            box-shadow: 0 3px 50px rgba(0, 0, 0, 0.16);
        }
    }
    &.blue-transparent {
        color: $COLOUR_BLUE_2;
        box-shadow: none;
        padding: 0 $GRID_MODULE;
        border: 1px solid $COLOUR_BLUE_2;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 1.4em;
        font-family: $FONT_DIN_REGULAR;

        &:hover {
            background-color: $COLOUR_BLUE_2;
            color: #fff;
        }
    }
}

.big-shadow {
    box-shadow: 0 15px 65px rgba(50, 50, 93, 0.5);
}

// Typography.
html {
    font-size: 100%;

    @include query(mobile) {
        font-size: 85%;
    }
}

body {
    font: normal 62.5%/1.5 $FONT_DIN_LIGHT;
    color: #6b7393;
}

p {
    font: lighter 1.8em/1.4 $FONT_DIN_LIGHT;
    margin: $GRID_MODULE 0;

    &.feature {
        font-size: 2.4em;
        line-height: 1.3;
        font-family: $FONT_DIN_LIGHT;
    }
}

a {
    @include transition(all 0.2s);
    color: $COLOUR_BLUE_2;

    &:hover {
        color: $COLOUR_BLUE_3;
    }
}

b {
    font-family: $FONT_DIN_MEDIUM;
}

h1 {
    font: lighter 4.8em/1.2 $FONT_DIN_LIGHT;
    color: $COLOUR_BLUE_3;
}

h2 {
    font: normal 2.4em/1.25 $FONT_DIN_REGULAR;
    color: $COLOUR_BLUE_3;
    margin: 1.5em 0 0.5em;
}

h3 {
    font: normal 1.8em/1.3 $FONT_DIN_REGULAR;
    color: $COLOUR_BLUE_3;
    margin: 1.5em 0 0.5em;
}

h4 {
    font: normal 1.8em/1.3 $FONT_DIN_REGULAR;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $COLOUR_BLUE_3;
}

// Reused.
.clear-top {
    margin-top: 0;
}

.text-align-center {
    text-align: center;
}

.img-responsive {
    width: auto;
    max-width: 100%;
}