@font-face {
    font-family: 'DIN Light';
    src: url('dinpro-light-webfont.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Light';
    src: url(//:) format('no404'), url('dinpro-light-webfont.woff') format('woff'), url('dinpro-light-webfont.ttf') format('truetype'), url('dinpro-light-webfont.svg#webfontLddxB8Ki') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Regular';
    src: url('dinpro-regular-webfont.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Regular';
    src: url(//:) format('no404'), url('dinpro-regular-webfont.woff') format('woff'), url('dinpro-regular-webfont.ttf') format('truetype'), url('dinpro-regular-webfont.svg#webfontFBwsLjv9') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Medium';
    src: url('dinpro-medium-webfont.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Medium';
    src: url(//:) format('no404'), url('dinpro-medium-webfont.woff') format('woff'), url('dinpro-medium-webfont.ttf') format('truetype'), url('dinpro-medium-webfont.svg#webfontHOCrtv0z') format('svg');
    font-weight: normal;
    font-style: normal;
}